	@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	place-content: center;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	font-size: 78px;
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: .0125em;
	z-index: 1;
	position: relative;
}

h1::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: .07em;
	height: .1em;
	width: 100%;
	background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff9595);
	z-index: -1;
	transition: height .25s cubic-bezier(.6,0,.4,1);
}

h1:hover::after {
	height: .2em;
}

form {
	text-transform: uppercase;
	letter-spacing: .15em;
	padding: 1rem;
	position: relative;
}

form > * + * {
	margin-top: 1rem;
}

.form-item > * + * {
	margin-top: 0.5rem;
}

input {
	font-family: inherit;
	background: #000;
	color: #fff;
}

label, input, button {
	font-size: 1.5rem;
}

button {
	border: none;
}

.submit {
	cursor: pointer;
	margin: calc(1rem * 2) 0 0 2px;
	padding: 0.75rem 1.25rem;
}

.submit:active {
	transform: translateY(1px);
}

.input-wrapper {
	position: relative;
}

input {
	padding: 0.75rem 4rem 0.75rem 0.75rem;
	width: 100%;
	border: 2px solid transparent;
	border-radius: 0;
}

input:focus {
	outline-offset: 1px;
}

body.dark-mode {
	background-color: #111;
	color: #eee;
}

body.light-mode {
	background-color: #eee;
	color: #111;
}

body.dark-mode button {
	background-color: #eee;
	color: #111;
}

body.light-mode button {
	background-color: #111;
	color: #eee;	
}

body.dark-mode input {
	background-color: #eee;
	color: #111;
}

body.light-mode input {
	background-color: #111;
	color: #eee;
}

.submit {
	text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 10px;
}

th, td {
  padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

table a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

#right {
	float: right;
}